# Create the same file config.yml by GitLab path.
# If your repository URL is example.com/some/repo.git
# in this case it will be some/repo/config.yml
receivers:
  slack:
    # slack receivers for teams
    BE: '#some-group-be'
    FE: '#some-group-fe'
teams:
  # declare teammates if they haven't declared globally
  BE:
  - 'user.aaa'
  - 'user.bbb'
  FE:
  - 'user.ccc'
labels:
  # Define association for labels to teams
  # Format: LABEL: TEAM_NAME
  FE: FE
  BE: BE
