#- Create the same file config.yml by GitLab path.
#- If your repository URL is example.com/some/repo.git
#- in this case it will be some/repo/config.yml
# This is a sample of project configuration in YAML format
# All comments started with "#" will be removed
# Please keep indents, they are part of syntax
receivers:
  slack:
    # slack receivers for teams
    BE: '#some-group-be'
    FE: '#some-group-fe'
teams:
  # declare teammates if they haven't declared globally
  BE:
  - 'john.doe'
  - 'dave.brown'
  FE:
  - 'hanna.light'
labels:
  # Define team association for labels
  # Format: LABEL: TEAM_NAME
  FE: FE
  BE: BE
