# Webhook URL from slack which will be used for sending messages
APP_SLACK_WEBHOOK='https://hooks.slack.com/services/QWEQWE/QWEQWE/QWEQWEQWEQWEQWEQWE'
# A super user's GitLab private token
APP_GITLAB_PRIVATE_TOKEN='QWEQWEQWEQWEQWEQWE'
# GitLab API URL
APP_GITLAB_ENDPOINT='https://git.example.com/api/v3'
# App port
APP_WEB_PORT=8088
# App hostname
APP_WEB_HOST='gitlab-proxy.cc'
