<h1>GitLab Webhook Router</h1>
<p>This router makes notifications on create/update merge requests in GitLab in your projects.</p>
<p>
  To make it work you should complete following steps:
  <ol>
    <li>Initiate project configuration (required).</li>
    <li>Initiate teammates configuration (recommended). <br>
      Each teammate should sign in and set up his/her configuration to be linked to a team and declare a Slack username. It will be done globally, only once, and it should take only few minutes. <br>
      Otherwise you must add a teammate username into project configuration just for linking to a team. </li>
  </ol>
</p>
<style>
  .container .row {
    margin-top: 0.3em;
  }
</style>
<div class="container">
  <div class="row">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_project_template" aria-expanded="false"
       aria-controls="collapse_project_template">
      Project Configuration Template
    </a>
  </div>
  <div class="row">
    <div class="collapse" id="collapse_project_template">
      <textarea class="form-control" rows="10" readonly id="config_input"><%= project_template %></textarea>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_user_template" aria-expanded="false"
       aria-controls="collapse_user_template">
      User Configuration Template
    </a>
  </div>
  <div class="row">
    <div class="collapse" id="collapse_user_template">
      <textarea class="form-control" rows="10" readonly id="config_input"><%= user_template %></textarea>
    </div>
  </div>
</div>



