<style>
  .table .flag {
    text-align: center;
  }
  .table .last-right {
    text-align: right;
  }
</style>
<div class="form-group">
  <h1>Projects</h1>
  <p>Projects list according to access by your account.</p>
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th class="flag">Configured</th>
      <th class="last-right">Extra</th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <a href="/app/project/config/<%= project.id %>">
            <%= project.name %>
          </a>
        </td>
        <td class="flag">
          <% if project_has_config project then %>
            <div class="glyphicon glyphicon-ok"></div>
          <% end %>
        </td>
        <td class="last-right">
          <a href="<%= project.web_url %>">Home page</a> /
          <a href="<%= project.web_url %>/hooks">Webhooks</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
