<form action='/project/view' method='post' class="form-inline well">
  <input type="text" name='project' placeholder="project" autofocus>
  <input class="btn primary" type='submit' value='go'>
</form>
