<div class="form-group">
  <h1>Projects</h1>
  <p>Projects list according to access of by your account.</p>
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Extra</th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <a href="/app/project/config/<%= project.id %>">
            <%= project.name %>
          </a>
        </td>
        <td>
          <a href="<%= project.web_url %>">
            Home page
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
